@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,300i');
@green: #80f19d;
@white: #fff;
@dark: #343434;
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #efefef;
    color: @dark;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 300;
}

#main {
    background-color: @white;
}

.container {
    width: 100%;
    max-width: 840px;
    margin: 0 auto;
    padding: 0 20px;
}

.row {
    display: flex;
    align-items: center;
    justify-content: center;
    &.top {
        align-items: initial;
    }
}

.col {
    &.half {
        width: 50%;
    }
    &.full {
        width: 100%;
    }
    &.one-third {
        width: 34%;
    }
    &.two-thirds {
        width: 66%;
    }
}

svg {
    width: 30px;
    margin: 2rem 0;
    transition-duration: 0.8s;
    transition-property: transform;
    .st0 {
        fill: #34363E;
    }
    &:hover {
        transform: rotate(405deg);
        .st0 {
            fill: @green;
        }
    }
}

.dark {
    background-color: #34363E;
    color: @white;
}

.blurb {
    // background-color: @green;
    color: #34363E;
    p {
        font-size: 1.15rem;
        line-height: 1.6rem;
    }
}

.projects {
    background-color: @green;
    color: @dark;
    a {
        font-weight: 400;
        &:hover {
            text-decoration: none;
        }
    }
}

.img-full {
    width: 100%;
    display: block;
}

h1 {
    font-size: 1.5rem;
    font-weight: 300;
    margin-bottom: 1em;
}

h2 {
    font-size: 1.3rem;
    font-weight: 300;
    margin-bottom: 1em;
    text-transform: uppercase;
}

p {
    margin-bottom: 1rem;
    &:last-of-type {
        margin-bottom: 0;
    }
}

a {
    color: @dark;
}

.text-center {
    text-align: center;
}

.with-content {
    padding: 2rem;
}

.btn {
    color: @green;
    text-decoration: none;
    border: 3px solid @green;
    margin: 0 auto;
    border-radius: 6px;
    padding: 10px 20px;
    text-transform: uppercase;
    transition: all 0.2s ease-in-out;
    font-weight: 400;
    display: inline-block;
    &:hover {
        background-color: @green;
        color: @dark;
        padding: 10px 30px;
    }
}

footer {
    text-align: center;
    font-size: 0.8rem;
}

@media (max-width: 600px) {
    .row {
        flex-direction: column;
    }
    .col {
        &.half,
        &.one-third,
        &.two-thirds {
            width: 100%;
        }
    }
}